@model EntregaSemana8.Models.TbProveedor
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<body>
    <form asp-controller="Proveedor" asp-action="Grabar" method="post">
        <!--ID-->
        <div class="form-group">
            <label for="formGroupExampleInput">Id</label>
            <input asp-for="CodProveedor" class="form-control" id="formGroupExampleInput" placeholder="Codigo Proveedor">
            <span asp-validation-for="CodProveedor" class="text-danger"></span>
        </div>
        <!--Razon Social-->
        <div class="form-group">
            <label for="formGroupExampleInput2">Razon Social</label>
            <input asp-for="RazSocial" class="form-control" id="formGroupExampleInput2" placeholder="Razon Social">
            <span asp-validation-for="RazSocial" class="text-danger"></span>
        </div>
        <!--DIRECCION-->
        <div class="form-group">
            <label for="formGroupExampleInput2">Direccion</label>
            <input asp-for="DirProveedor" class="form-control" id="formGroupExampleInput2" placeholder="Direccion">
            <span asp-validation-for="DirProveedor" class="text-danger"></span>
        </div>
        <!--TELEFONO-->
        <div class="form-group">
            <label for="formGroupExampleInput2">Telefono</label>
            <input asp-for="TlfProveedor" class="form-control" id="formGroupExampleInput2" placeholder="Telefono">
            <span asp-validation-for="TlfProveedor" class="text-danger"></span>
        </div>
        <!--REPARTIDOR-->
        <div class="form-group">
            <label for="formGroupExampleInput2">Repartidor</label>
            <input asp-for="RepartidorVenta" class="form-control" id="formGroupExampleInput2" placeholder="Repartidor">
            <span asp-validation-for="RepartidorVenta" class="text-danger"></span>
        </div>
        <!--BOTON-->
        <div class="form-group">
            <button type="submit" class="btn btn-primary" value="btn" name="grabar" data-toggle="modal" data-target="#exampleModal">Grabar</button>
        </div>

    </form>


</body>
</html>