@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html Lang="en">
<head>
    <meta charset="UFT-8">
    <title>Login Infosil</title>
    <link rel="stylesheet" type="text/css" href="~/css/Login.css">

</head>
<body>
    <div class="box">
        <span class="border"></span>
        <form id="loginForm">
            <!----------------------------------SIGN IN------------------------------------------->
            <img class="" src="~/css/logo usil.png" padding />
            <h2>Inicie Sesión</h2>
            <div class="inputBox">
                <input type="text" required="required">
                <span>Nombre de usuario</span>
                <i></i>
            </div>
            <!----------------------------------CONTRASEÑA------------------------------------------->
            <div class="inputBox">
                <input type="password" required="required">
                <span>Contraseña</span>
                <i></i>
            </div>
            <!------------------------------LINKS OLVIDO CONTRASEÑA/ REGISTRATE----------------------->
            <div class="links">
                <a href="#">¿Olvidaste tu contraseña? </a>
                <a href="#">Registrarte </a>
            </div>

            <!------------------------------BOTON ENTRAR------------------------------------------->
            <input type="submit" style="--clr:#fbff00" value="Entrar">


        </form>
    </div>
</body>

</html>

  <script>

   // Obtén el formulario por su id
   const loginForm = document.getElementById('loginForm');

   // Agrega un evento para escuchar el envío del formulario
   loginForm.addEventListener('submit', function (e) {
       // Evita el envío del formulario predeterminado
       e.preventDefault();

       // Redirige a la página de producto/index
       window.location.href = '/producto/index';
   });
</script>
